<!doctype html>
<html lang="en">

<head>
  <title>Sidebar 04</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    {%include 'sidebar.html' %}
    <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4">Detector en vivo</h2>
      <iframe src="static/local.html" frameborder="0" width="1400" height="800"></iframe>
    </div>
  </div>

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.js"></script>
</body>

</html>