<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tensor Flow Object Detection from getUserMedia</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>


        <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Log in </h2>
  
  
      <!-- Login Form -->
      <form method="POST" action="/login">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario">
        <input type="password" id="password" class="fadeIn third form-field" name="pass" placeholder="Password">
        <input id="login-btn" type="submit" class="fadeIn fourth form-field" value="Log In">
      </form>
  
    </div>
  </div>



</body>
</html>



